.jumbotron {
  text-align: center;
  padding: 4rem 2rem;
  margin-bottom: 2rem;
  background-color: rgb(232, 232, 232);
  border-radius: .3rem;  
}

.box {
  background-color: rgb(232, 232, 232);
  border: solid black;
  border-radius: 2rem;
  padding: 10px;
  width: 50%;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

body {
  background-color: rgb(112, 112, 112);
}
